.removeBT{
    margin: 5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
.Steps{
     height: 350px;
     width: 750px;
     overflow: auto;
 }
.addBT {
    margin: 5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
.source {
    margin: 5px;
    width: 200px;
    height: 25px;
}
.target{
    margin: 5px;
    width: 200px;
    height: 25px;
}
.count{
    margin: 5px;
    width: 200px;
    height: 25px;
}
.api{
    margin: 5px;
    width: 700px;
    height: 25px;
}
.submit {
    margin: 5px;
    width: 200px;
    height: 25px;
}
.secondsForProcessing{
    margin: 5px;
    width: 200px;
    height: 25px;
}

.messageToRej{
    margin: 5px;
    width: 200px;
    height: 25px;
}
.RejTime{
    margin: 5px;
    width: 200px;
    height: 25px;
}
.log{
    height: 350px;
    width: 1500px;
    overflow: auto;
}
